{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h2>Login</h2><br>
<form id="login" action="/login" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" autocomplete="off" autofocus class="form-control mx-auto w-auto lowercase" name="username" placeholder="Enter your username" type="text" oninput="forceLowerCase(this)" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Enter your password" type="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
<br>or<br>
<form action="/register" method="get">
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    function forceLowerCase(input) {
        input.value = input.value.toLowerCase();
    }
</script>
{% endblock %}
