{% extends "layout.html" %}

{% block title %}
Statistics
{% endblock %}

{% block main %}
<div class="container">
    <h2>Statistics for {{ username }}</h2><br>

    {% if vehicles %}
    <h3>Vehicles</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Registration</th>
                    <th>Vehicle</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                    <tr>
                        <td><a href="{{ url_for('vehicle_stats', registration=vehicle.registration) }}">{{ vehicle.registration }}</a></td>
                        <td>{{ vehicle.make }} {{ vehicle.model }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No vehicles found.</p>
    {% endif %}<br>

    {% if last_log %}
        <h3>Last Log</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Detail</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td>{{ last_log.date }}</td>
                    </tr>
                    <tr>
                        <td>Registration</td>
                        <td>{{ last_log.registration }}</td>
                    </tr>
                    <tr>
                        <td>Days Since Last Fill</td>
                        <td>{{ days_since_last_fill }} days ago</td>
                    </tr>
                    <tr>
                        <td>Kilometres on Last Tank</td>
                        <td>{{ last_log.kilometres }} km</td>
                    </tr>
                    <tr>
                        <td>Last Sale Price</td>
                        <td>${{ "%.2f" | format(last_log.sale_price) }}</td>
                    </tr>
                    <tr>
                        <td>Last Price Per Litre</td>
                        <td>${{ "%.3f" | format(last_log.price_per_litre) }}</td>
                    </tr>
                    <tr>
                        <td>Last Litres Per 100km</td>
                        <td>{{ "{:,.2f}".format(last_log.litres_per_100km) }} L/100km</td>
                    </tr>
                    <tr>
                        <td>Last Fill Up At</td>
                        <td>{{ last_log.purchased_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No logs found.</p>
    {% endif %}<br>

    <h3>Global Stats</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Statistic</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Combined Sale Price</td>
                    <td>${{ "{:,.2f}".format(total_sale_price) }}</td>
                </tr>
                <tr>
                    <td>Total Combined Litres</td>
                    <td>{{ "{:,.2f}".format(total_litres) }} litres</td>
                </tr>
                <tr>
                    <td>Total Combined Kilometres</td>
                    <td>{{ "{:,.0f}".format(total_kilometres) }} km</td>
                </tr>
                <tr>
                    <td>Total Combined Litres per 100 km</td>
                    <td>{{ "{:,.2f}".format(combined_litres_per_100km) }} L/100km</td>
                </tr>
                <tr>
                    <td>Average Combined Price Per Litre</td>
                    <td>${{ "{:,.3f}".format(avg_price_per_litre) }}</td>
                </tr>
                <tr>
                    <td>Average Combined Kilometres Per Tank</td>
                    <td>{{ "{:,.2f}".format(avg_kilometres) }} km</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
