{% extends "layout.html" %}

{% block title %}
Vehicle Details for {{ vehicle.registration }}
{% endblock %}

{% block main %}
<div class="container">
    <h2>Vehicle Details for {{ vehicle.registration }}</h2>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><strong>Fuel Type:</strong> {{ vehicle.fuel_name }} ({{ vehicle.fuel_type }})</li>
        <li class="list-group-item"><strong>Vehicle Type:</strong> {{ vehicle.vehicle_type }}</li>
        <li class="list-group-item"><strong>Make:</strong> {{ vehicle.make }}</li>
        <li class="list-group-item"><strong>Model:</strong> {{ vehicle.model }}</li>
        <li class="list-group-item"><strong>Year:</strong> {{ vehicle.year }}</li>
        <li class="list-group-item"><strong>Odometer:</strong> {{ vehicle.odometer }}</li>
    </ul>
    <br>
    <a class="btn btn-primary" href="{{ url_for('garage') }}">Back to Garage</a>
</div>
{% endblock %}
